<script type="text/template" id="board-template">
  <table>
    <colgroup class="category-1"></colgroup>
    <colgroup class="category-2"></colgroup>
    <colgroup class="category-3"></colgroup>
    <colgroup class="category-4"></colgroup>
    <colgroup class="category-5"></colgroup>
    <colgroup class="category-6"></colgroup>
    <tr>
      <th class='category-1'>{{ category1 }}</th>
      <th class='category-2'>{{ category2 }}</th>
      <th class='category-3'>{{ category3 }}</th>
      <th class='category-4'>{{ category4 }}</th>
      <th class='category-5'>{{ category5 }}</th>
      <th class='category-6'>{{ category6 }}</th>
    </tr>
    <tr>
      <td class='category-1 value {{ value1 }}'>{{ value1 }}</td>
      <td class='category-2 value {{ value1 }}'>{{ value1 }}</td>
      <td class='category-3 value {{ value1 }}'>{{ value1 }}</td>
      <td class='category-4 value {{ value1 }}'>{{ value1 }}</td>
      <td class='category-5 value {{ value1 }}'>{{ value1 }}</td>
      <td class='category-6 value {{ value1 }}'>{{ value1 }}</td>
    </tr>
    <tr>
      <td class='category-1 value {{ value2 }}'>{{ value2 }}</td>
      <td class='category-2 value {{ value2 }}'>{{ value2 }}</td>
      <td class='category-3 value {{ value2 }}'>{{ value2 }}</td>
      <td class='category-4 value {{ value2 }}'>{{ value2 }}</td>
      <td class='category-5 value {{ value2 }}'>{{ value2 }}</td>
      <td class='category-6 value {{ value2 }}'>{{ value2 }}</td>
    </tr>
    <tr>
      <td class='category-1 value {{ value3 }}'>{{ value3 }}</td>
      <td class='category-2 value {{ value3 }}'>{{ value3 }}</td>
      <td class='category-3 value {{ value3 }}'>{{ value3 }}</td>
      <td class='category-4 value {{ value3 }}'>{{ value3 }}</td>
      <td class='category-5 value {{ value3 }}'>{{ value3 }}</td>
      <td class='category-6 value {{ value3 }}'>{{ value3 }}</td>
    </tr>
    <tr>
      <td class='category-1 value {{ value4 }}'>{{ value4 }}</td>
      <td class='category-2 value {{ value4 }}'>{{ value4 }}</td>
      <td class='category-3 value {{ value4 }}'>{{ value4 }}</td>
      <td class='category-4 value {{ value4 }}'>{{ value4 }}</td>
      <td class='category-5 value {{ value4 }}'>{{ value4 }}</td>
      <td class='category-6 value {{ value4 }}'>{{ value4 }}</td>
    </tr>
    <tr>
      <td class='category-1 value {{ value5 }}'>{{ value5 }}</td>
      <td class='category-2 value {{ value5 }}'>{{ value5 }}</td>
      <td class='category-3 value {{ value5 }}'>{{ value5 }}</td>
      <td class='category-4 value {{ value5 }}'>{{ value5 }}</td>
      <td class='category-5 value {{ value5 }}'>{{ value5 }}</td>
      <td class='category-6 value {{ value5 }}'>{{ value5 }}</td>
    </tr>
  </table>
</script>
