<script type="text/template" id="board-template">
  <table>
    <colgroup class="category-1"></colgroup>
    <colgroup class="category-2"></colgroup>
    <colgroup class="category-3"></colgroup>
    <colgroup class="category-4"></colgroup>
    <colgroup class="category-5"></colgroup>
    <colgroup class="category-6"></colgroup>
    <tr>
      <th class='category-1'>{{ category1['name'] }}</th>
      <th class='category-2'>{{ category2['name'] }}</th>
      <th class='category-3'>{{ category3['name'] }}</th>
      <th class='category-4'>{{ category4['name'] }}</th>
      <th class='category-5'>{{ category5['name'] }}</th>
      <th class='category-6'>{{ category6['name'] }}</th>
    </tr>
    <tr>
      <td class='clue-value' data-category='category1' data-clue='clue1'>{{ value1 }}</td>
      <td class='clue-value' data-category='category2' data-clue='clue1'>{{ value1 }}</td>
      <td class='clue-value' data-category='category3' data-clue='clue1'>{{ value1 }}</td>
      <td class='clue-value' data-category='category4' data-clue='clue1'>{{ value1 }}</td>
      <td class='clue-value' data-category='category5' data-clue='clue1'>{{ value1 }}</td>
      <td class='clue-value' data-category='category6' data-clue='clue1'>{{ value1 }}</td>
    </tr>
    <tr>
      <td class='clue-value' data-category='category1' data-clue='clue2'>{{ value2 }}</td>
      <td class='clue-value' data-category='category2' data-clue='clue2'>{{ value2 }}</td>
      <td class='clue-value' data-category='category3' data-clue='clue2'>{{ value2 }}</td>
      <td class='clue-value' data-category='category4' data-clue='clue2'>{{ value2 }}</td>
      <td class='clue-value' data-category='category5' data-clue='clue2'>{{ value2 }}</td>
      <td class='clue-value' data-category='category6' data-clue='clue2'>{{ value2 }}</td>
    </tr>
    <tr>
      <td class='clue-value' data-category='category1' data-clue='clue3'>{{ value3 }}</td>
      <td class='clue-value' data-category='category2' data-clue='clue3'>{{ value3 }}</td>
      <td class='clue-value' data-category='category3' data-clue='clue3'>{{ value3 }}</td>
      <td class='clue-value' data-category='category4' data-clue='clue3'>{{ value3 }}</td>
      <td class='clue-value' data-category='category5' data-clue='clue3'>{{ value3 }}</td>
      <td class='clue-value' data-category='category6' data-clue='clue3'>{{ value3 }}</td>
    </tr>
    <tr>
      <td class='clue-value' data-category='category1' data-clue='clue4'>{{ value4 }}</td>
      <td class='clue-value' data-category='category2' data-clue='clue4'>{{ value4 }}</td>
      <td class='clue-value' data-category='category3' data-clue='clue4'>{{ value4 }}</td>
      <td class='clue-value' data-category='category4' data-clue='clue4'>{{ value4 }}</td>
      <td class='clue-value' data-category='category5' data-clue='clue4'>{{ value4 }}</td>
      <td class='clue-value' data-category='category6' data-clue='clue4'>{{ value4 }}</td>
    </tr>
    <tr>
      <td class='clue-value' data-category='category1' data-clue='clue5'>{{ value5 }}</td>
      <td class='clue-value' data-category='category2' data-clue='clue5'>{{ value5 }}</td>
      <td class='clue-value' data-category='category3' data-clue='clue5'>{{ value5 }}</td>
      <td class='clue-value' data-category='category4' data-clue='clue5'>{{ value5 }}</td>
      <td class='clue-value' data-category='category5' data-clue='clue5'>{{ value5 }}</td>
      <td class='clue-value' data-category='category6' data-clue='clue5'>{{ value5 }}</td>
    </tr>
  </table>
</script>
