<script type="text/template" id="daily-double-template">
  <audio id="dailyDoubleAudio" src="audio/daily_double.wav" preload="auto"></audio>
  <div class="dailyDoubleText" data-category="{{ category }}" data-clue="{{ clue }}">Daily Double</div>
</script>
