<html>
  <head>
    <title>private static double jeopardy;</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="stylesheets/jeopardy.css" />
    <%= yield_content :javascript %>
  </head>

  <body>
    <audio id="outOfTime" src="audio/out_of_time.wav" preload="auto"></audio>
    <%= yield %>
  </body>

</html>

