<div id="board"><%= erb :_board %></div>
<%= erb :_clue %>
<%= erb :_daily_double %>

<% content_for :javascript do %>
  <script type="text/javascript" src="javascripts/vendor/jquery-1.8.2.js"></script>
  <script type="text/javascript" src="javascripts/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/backbone.js"></script>
  <script type="text/javascript" src="javascripts/namespace.js"></script>
  <script type="text/javascript" src="javascripts/game-board.js"></script>
<% end %>

<script type="text/javascript">
  var boardInfo = {
    category1: {
      name: 'Numba 1',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    category2: {
      name: 'Numba 2',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    category3: {
      name: 'Numba 3',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    category4: {
      name: 'Numba 4',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    category5: {
      name: 'Numba 5',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    category6: {
      name: 'Numba 6',
      clue1: 'clue 1',
      clue2: 'clue 2',
      clue3: 'clue 3',
      clue4: 'clue 4',
      clue5: 'clue 5'
    },
    value1: '$100', value2: '$200', value3: '$300', value4: '$400', value5: '$500'
  };
var endGame = function() {
  //call double jeopardy or something
};
  var view = new Jeopardy.GameBoard({
    el: '#board',
    boardInfo: boardInfo,
    dailyDoubles: [{category: 'category2', clue: 'clue4'}],
    endGame: endGame;
  });
  view.showBoard();
</script>
